body {
    font-family: 'Source Sans Pro', sans-serif;
}

header h1 {
    margin-bottom: 0;
}

header p {
    font-style: italic;
    margin-top: 0;
}

section span {
    font-style: italic;
}

header,
section {
    margin-bottom: 45px;
}